<div class="cover-container">
    <div class="inner cover">
        <h1 class="cover-heading">{{ page.title }}</h1>
        <p class="lead">{{ content }}</p>
    </div>
    {% include JB/analytics %}
</div>
{% if page.description %} 
{% assign pages_list = site.pages %} 
{% assign group = page.description %}
<div class="inner row text-center">
    {% for node in pages_list %} 
    {% if node.title != null %} 
    {% if group == null or group == node.group %}
    <div class="col-sm-6 col-md-4">
        <div class="cover">
            <h3>{{node.title}}</h3>
            <p>{{node.tagline}}</p>
            <p><a href="{{ BASE_PATH }}{{node.url}}" class="btn btn-primary" role="button">View</a></p>
        </div>
    </div>
    {% endif %}
    {% endif %} 
    {% endfor %}
</div>
{% endif %}
